@font-face {
    font-family: 'Giants_bold';
    src: url('Giants-Bold.woff2') format('woff2'),
        url('Giants-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giants_reg';
    src: url('Giants-Regular.woff2') format('woff2'),
        url('Giants-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Giants_inline';
    src: url('Giants-Inline.woff2') format('woff2'),
        url('Giants-Inline.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

